<div>
    <h1 mat-dialog-title>Add Stock Form</h1>
</div>

<form [formGroup]="stockForm">
    <div class="libelle-stock-form-field">
        <!--  Libellé Stock  -->
        <mat-form-field >
            <mat-label>Libellé Stock</mat-label>
            <input matInput type="text" formControlName="libelleStock"> <!-- [(ngModel)]="valueLibelleStock" -->
            <button *ngIf="valueLibelleStock" matSuffix mat-icon-button aria-label="Clear" (click)="valueLibelleStock=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="quantite-form-field" >
        <!--  Quantité  -->
        <mat-form-field>
            <mat-label>Quntité</mat-label>
            <input matInput type="number" formControlName="quantite"> <!-- [(ngModel)]="valueQuantite" -->
            <button *ngIf="valueQuantite" matSuffix mat-icon-button aria-label="Clear" (click)="valueQuantite=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>            

    <div class="quantite-form-field">
        <!--  Quantité Minimale  -->
        <mat-form-field >
            <mat-label>Quntité Minimale</mat-label>
            <input matInput type="number" formControlName="quantiteMin"> <!-- [(ngModel)]="valueQuantiteMin" -->
            <button *ngIf="valueQuantiteMin" matSuffix mat-icon-button aria-label="Clear" (click)="valueQuantiteMin=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div >            


    <div mat-dialog-actions class="divSubmit">
        <span >
            <button mat-button mat-dialog-close type="reset">Cancel</button>
            <button mat-button mat-dialog-close cdkFocusInitial id="ok" (click)="addOrUpdateStock()">{{data? 'Update' : 'Save'}}</button>
        </span>

    </div>

</form>